@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "JuzhoKaizen";
  src: url("/fonts/juzho-kaizen.otf");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-juzhokaizen: "JuzhoKaizen", sans-serif;
  --color-red: #8e0b06;
  --color-light-red: #e21f16;
  --color-dark-red: #790400;
  --color-dark-two-red: #41030156;
  --color-black: #121212;
  --color-soft-black: #1212122f;
  --color-white: #ffffff;
  --color-soft-white: #faf7f6;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }

  ul {
    list-style: none;
  }

  img {
    -webkit-user-drag: none;
  }

  body {
    @apply h-full bg-soft-white font-inter select-none;
  }

  .app-container {
    @apply min-h-screen flex flex-col justify-between overflow-hidden gap-30;
  }

  ::-webkit-scrollbar {
    @apply w-0;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-left {
    @apply flex justify-start items-center;
  }
  .flex-right {
    @apply flex justify-end items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  nav {
    @apply w-full h-[5rem] md:h-[6rem] absolute top-0 left-0 z-100 flex justify-between items-center bg-transparent px-5 md:px-10;
    ul {
      @apply flex justify-center items-center gap-10;
      li {
        @apply capitalize text-black font-medium text-[.8rem] cursor-pointer;
      }
    }
  }
  main {
    @apply relative flex flex-col gap-25 md:gap-35;
  }
  .gradient-layer {
    @apply absolute z-3 -left-1 lg:left-0 w-[110%] lg:w-full h-[30%] md:h-[25%] lg:h-[36%] xl:h-[25%] from-soft-white to-[#00000000] md:from-15% lg:from-10% xl:from-20%;
  }

  .avatar-cycle {
    @apply w-15 h-15 rounded-full overflow-hidden bg-red;
  }

  footer {
    @apply relative bg-[url(/images/bgs/6.webp)] bg-[length:200%] bg-[position:center_top] md:bg-[length:150%] bg-no-repeat;
    h1 {
      @apply font-juzhokaizen text-white text-[2.5rem]/12 px-15 md:px-5 lg:text-[5.8rem]/28 md:text-[3.8rem]/25 2xl:text-[7.8rem]/28 text-center;
    }
    h2 {
      @apply text-[.8rem] text-black;
    }
    h4 {
      @apply font-juzhokaizen text-[1.1rem] text-black;
    }
    ul {
      @apply mt-1;
      li {
        @apply capitalize text-[1.05rem]/6 text-black cursor-pointer opacity-50;
      }
    }
  }
}

.button-bg-mask {
  width: 100%;
  height: 50px;
  background-color: #8e0b06;
  background-image: url("/public/images/more/button-bg.png");
  background-size: 100%;
  background-position: center;

  /* Apply the SVG mask as a mask-image */
  -webkit-mask-image: url('data:image/svg+xml;utf8,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 54">\
  <path fill="white" d="M163.035 0C172.036 0 179.992 4.47276 184.801 11.3169C187.197 14.7256 190.778 17.4463 194.944 17.4463C199.206 17.4463 202.841 14.5984 205.262 11.0908C209.884 4.39088 217.614 0 226.37 0C240.524 1.13389e-05 251.998 11.474 251.998 25.6279V28.373C251.998 42.5268 240.524 54.001 226.37 54.001C218.611 54.001 211.658 50.5527 206.958 45.1052C203.742 41.3767 199.493 38.2158 194.569 38.2158C189.905 38.2158 185.82 41.0546 182.677 44.4996C177.815 49.8271 170.816 53.1699 163.035 53.1699H26.585C11.9026 53.1699 0.000143556 41.2673 0 26.585C0 11.9025 11.9025 0 26.585 0H163.035Z"/>\
  </svg>');

  mask-image: url('data:image/svg+xml;utf8,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252 54">\
  <path fill="white" d="M163.035 0C172.036 0 179.992 4.47276 184.801 11.3169C187.197 14.7256 190.778 17.4463 194.944 17.4463C199.206 17.4463 202.841 14.5984 205.262 11.0908C209.884 4.39088 217.614 0 226.37 0C240.524 1.13389e-05 251.998 11.474 251.998 25.6279V28.373C251.998 42.5268 240.524 54.001 226.37 54.001C218.611 54.001 211.658 50.5527 206.958 45.1052C203.742 41.3767 199.493 38.2158 194.569 38.2158C189.905 38.2158 185.82 41.0546 182.677 44.4996C177.815 49.8271 170.816 53.1699 163.035 53.1699H26.585C11.9026 53.1699 0.000143556 41.2673 0 26.585C0 11.9025 11.9025 0 26.585 0H163.035Z"/>\
  </svg>');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  -webkit-mask-position: center;
  mask-position: center;
}
