@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "JuzhoKaizen";
  src: url("/fonts/juzho-kaizen.otf");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-long: "JuzhoKaizen", sans-serif;
  --color-red: #8e0b06;
  --color-light-red: #e21f16;
  --color-dark-red: #790400;
  --color-black: #121212;
  --color-white: #ffffff;
  --color-soft-white: #faf7f6;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }

  ul {
    list-style: none;
  }

  img {
    -webkit-user-drag: none;
  }

  body {
    @apply bg-soft-white font-inter select-none;
  }

  ::-webkit-scrollbar {
    @apply w-0;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

/* @layer components {
} */
